* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #BFDBE6;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #BFDBE6;
}

.top {
    height: 58px;
    width: 100%;
    background-color: #175288;
}

.box {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 800px;
    width: 1200px;
    align-items: flex-start;
    border: 1px solid;
}

.box1,
.box2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 500px;
    /* background-color: #175288; */
    width: 40%;
    text-align: center;
}

.chart1,
.chart2 {
    height: 400px;
    /* border: 1px solid; */
    width: 100%;
}

.title1,
.title2 {
    height: 100px;
    /* border: 1px solid; */
    width: 100%;
}